<div class="content_container">
  <div class="row-fluid">
    <div class="span4">

      <div class="overview_box">

        <div class="overview_box_heading">
          <h1 class="small">Getting Started</h1>
        </div>
        <div class="getting_start">
          <ul>
            <li><%= link_to "Create new invoice", new_invoice_path %></li>
            <li><%= link_to "Create new item", new_item_path %></li>
            <li><%= link_to "Create new client", new_client_path %></li>
            <li><%= link_to "Entery payment", new_payment_path %></li>
          </ul>
        </div>

      </div><!--overview_box-->

      <div class="overview_box">

        <div class="overview_box_heading">
          <h1 class="small">Recent Activity</h1>
        </div>
        <div class="day_session">
          <div class="day_session_heading">
            <p>Yesterday</p>
          </div>
          <div class="day_session_content">
            <div class="day_session_content_detail">
              <ul>
                <li class="day_session_title"><a href="#">Payment</a></li>
                <li class="day_session_amount">- $500.00</li>
                <li class="day_session_currency">USD </li>
              </ul>
              <p>received fromy abc</p>
            </div>
            <div class="day_session_content_detail">
              <ul>
                <li class="day_session_title"><a href="#">Payment</a></li>
                <li class="day_session_amount">- $200.00</li>
                <li class="day_session_currency">USD </li>
              </ul>
              <p>received from ZnZ Enterprizes</p>
            </div>
            <div class="day_session_content_detail">
              <ul>
                <li class="day_session_title"><a href="#">Payment</a></li>
                <li class="day_session_amount">- $100.00</li>
                <li class="day_session_currency">USD </li>
              </ul>
              <p>received fromy abc</p>
            </div>
            <div class="day_session_content_detail no_border">
              <ul>
                <li class="day_session_title"><a href="#">Invoice</a></li>
                <li class="day_session_amount">- #0000013 </li>
              </ul>
              <p>created for abc def</p>
            </div>
          </div><!--day_session_content-->
        </div><!--day_session-->

        <div class="day_session">
          <div class="day_session_heading">
            <p>Before Yesterday</p>
          </div>
          <div class="day_session_content">
            <div class="day_session_content_detail">
              <ul>
                <li class="day_session_title"><a href="#">Client login</a></li>
                <li class="day_session_amount">- abc at 10:36 UZT </li>
              </ul>
              <p>5 days ago</p>
            </div>
            <div class="day_session_content_detail">
              <ul>
                <li class="day_session_title"><a href="#">Invoice</a></li>
                <li class="day_session_amount">- #0000012 </li>
              </ul>
              <p>received for abc</p>
            </div>
            <div class="day_session_content_detail">
              <ul>
                <li class="day_session_title"><a href="#">Invoice</a></li>
                <li class="day_session_amount">- #0000014 </li>
              </ul>
              <p>sent to abc</p>
            </div>
            <div class="day_session_content_detail no_border">
              <ul>
                <li class="day_session_title"><a href="#">Invoice</a></li>
                <li class="day_session_amount">- #0000016 </li>
              </ul>
              <p>received for abc</p>
            </div>
          </div><!--day_session_content-->
        </div><!--day_session-->

      </div><!--overview_box-->

      <div class="overview_box">
        <div class="overview_box_heading">
          <h1 class="small">OSB Reports</h1>
        </div>
        <div class="osb_content">
          <p>
            Payments Collection, Tax Summary, Revenue by Client and more insightful reports!
          </p>
          <a class="btn_large" href="/reports">See my reports</a>
        </div>
      </div><!--overview_box-->

    </div><!--span4-->

    <div class="span8">

      <div class="overview_box">

        <div class="overview_box_heading">
          <h1>Invoices <span>(USD)</span></h1>
        </div>
        <div class="graff_content">
          <div class="graff_highlight">
            <%= image_tag "graph.png", :size => "447x191", :alt => "" %>
          </div>
        </div>
        <div class="overview_box_heading">
          <h1>Outstanding Invoices <span>(USD)</span></h1>
        </div>
        <div class="graff_description">
          <div class="graff_value">
            <div class="graff_digit">
              <ul>
                <li class="digit_content">$500.00</li>
                <li class="digit_description">Total Outstanding <span>(USD)</span></li>
              </ul>
            </div>
          </div><!--graff_value-->
          <div class="graff_detail">
            <table cellspacing="0" cellpadding="0">
              <tbody><tr>
                  <td>0 - 30 days old</td>
                  <td>: <span>$ 500.00</span></td>
                </tr>
                <tr>
                  <td>30 - 60 days old</td>
                  <td>: $ 0.00</td>
                </tr>
                <tr>
                  <td>60 - 90 days old</td>
                  <td>: $ 0.00</td>
                </tr>
                <tr>
                  <td>Over 90 days old</td>
                  <td>: $ 0.00</td>
                </tr>
              </tbody></table>
            <a href="#">Account Aging Report</a>
          </div><!--graff_detail-->
        </div><!--graff_description-->

      </div><!--overview_box-->

    </div><!--span8-->

  </div><!--row-fluid-->
</div>