<div class="content_container">
  <div class="row-fluid">
    <div class="span4">
      <%= render "getting_started" %>
      <%= render "recent_activity" %>
      <%= render "osb_reports" %>
    </div>
    <!--span4-->
    <div class="span8">
      <div class="overview_box">
        <%= render "chart_container" %>
        <%= render "outstanding_invoices" %>
      </div>
      <!--overview_box-->
    </div>
    <!--span8-->
  </div>
  <!--row-fluid-->
</div>