<p id="notice"><%= notice %></p>

<p>
  <b>Country:</b>
  <%= @client_billing_info.country %>
</p>

<p>
  <b>Street address 1:</b>
  <%= @client_billing_info.street_address_1 %>
</p>

<p>
  <b>Street address 2:</b>
  <%= @client_billing_info.street_address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @client_billing_info.city %>
</p>

<p>
  <b>Province or state:</b>
  <%= @client_billing_info.province_or_state %>
</p>

<p>
  <b>Postal or zip code:</b>
  <%= @client_billing_info.postal_or_zip_code %>
</p>

<p>
  <b>Phone business:</b>
  <%= @client_billing_info.phone_business %>
</p>

<p>
  <b>Phone mobile:</b>
  <%= @client_billing_info.phone_mobile %>
</p>

<p>
  <b>Phone home:</b>
  <%= @client_billing_info.phone_home %>
</p>

<p>
  <b>Fax:</b>
  <%= @client_billing_info.fax %>
</p>

<p>
  <b>Notes:</b>
  <%= @client_billing_info.notes %>
</p>


<%= link_to 'Edit', edit_client_billing_info_path(@client_billing_info) %> |
<%= link_to 'Back', client_billing_infos_path %>
