<%= link_to "Active", "invoices/filter_invoices?status=active", :remote => true %>
<span class="item_counts" id="actives">(<%= Invoice.unarchived.size%>)</span>
<span>|</span>
<%= link_to "Archived", "invoices/filter_invoices?status=archived", :remote => true %>
<span class="item_counts" id="archives">(<%= Invoice.archived.size%>)</span>
<span>|</span>
<%= link_to "Deleted", "invoices/filter_invoices?status=deleted", :remote => true %>
<span class="item_counts" id="deletes">(<%= Invoice.only_deleted.size%>)</span>