<%= link_to "Active", "invoices/filter_invoices?status=active", :remote => true, :class => "get_actives active" %>
<span class="item_counts" id="actives">(<%= Invoice.unarchived.size%>)</span>
<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
<%= link_to "Archived", "invoices/filter_invoices?status=archived", :remote => true, :class => "get_archived" %>
<span class="item_counts" id="archives">(<%= Invoice.archived.size%>)</span>
<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
<%= link_to "Deleted", "invoices/filter_invoices?status=deleted", :remote => true, :class => "get_deleted" %>
<span class="item_counts" id="deletes">(<%= Invoice.only_deleted.size%>)</span>