<%= nested_form_for @invoice, :html => {:class => 'form-horizontal', :novalidate => ""} do |f| %>
    <% @parent_f = f %>

    <div class="_form">
      <div class="content_middle">
        <div class="fields_content">
          <% if @invoice.status == "disputed"%>
            <div class="response_to_client">
             <div class="response_container">
               <div class="response_top">
               <h1>Dispute History</h1>
                 <% @invoice.sent_emails.where("type = 'Disputed'").each do |email_detail|%>
                 <% float_class = email_detail.subject == "Dispute sent" ? "float-right" : "float-left"  %>
                 <div class="<%= float_class%>">
                 <span class="detail"><%= email_detail.content%></span>
                   <span class="info"><%= current_user.email == email_detail.sender ? "You": email_detail.sender %>, <%= email_detail.date%></span>
                 </div>
                  <% end%>
               </div>
               <div class="field_row textarea response_bottom">
               <div class="label_field textarea" ><label>Response to Client</label></div>
               <div class="large_field" style="clear:both;">
                <%= text_area_tag "response_to_client" %>
               </div>
               </div>
             </div>
            </div>
            <% end%>
          <div class="fields_content_container">

            <div class="fields_content_data new_invoice_fields">

              <div class="fields_content_left">
                <div class="field_row description">
                  <div class="label_field left single"><%= f.label :client_id, content_tag(:span, 'Client') %></div>
                  <div class="small_field">
                    <%= collection_select :invoice, :client_id, Client.all, :id, :organization_name, {:prompt => ""}, {"data-placeholder" => "Select a client...", :class => "medium chzn-select", "data-form-container" => "clients_holder", "data-dropdown-width" => "300", :required => ""} %>
                    <ul class="field_description">
                      <li>client you want to send invoice</li>
                      <span id="last_invoice" style="display: none;"></span>
                    </ul>
                  </div>
                </div>
                <!--field_row-->

                <div class="field_row description">
                  <div class="label_field left single"><%= f.label :discount_percentage, "Discount %" %></div>
                  <div class="small_field">
                    <%= f.number_field :discount_percentage %>
                    <ul class="field_description">
                      <li>will be applied to whole invoice amount</li>
                    </ul>
                  </div>
                </div>
                <!--field_row-->

                <div class="field_row description">
                  <div class="label_field left single"><%= f.label :payment_terms_id, "Terms" %></div>
                  <div class="small_field">
                    <%#= collection_select :invoice, :payment_terms_id, PaymentTerm.all, :id, :description, {:prompt => ""}, {"data-placeholder" => "Select a payment term...", :class => "medium chzn-select"} %>
                    <%= f.select :payment_terms_id, options_for_select(PaymentTerm.all.map { |p| [p.description, p.id, {'number_of_days' => p.number_of_days}] }, :selected => f.object.payment_terms_id), {:prompt => ""}, {"data-placeholder" => "Select a payment term...", :class => "medium chzn-select", "data-form-container" => "payment_terms_holder", "data-dropdown-width" => "300"} %>
                    <ul class="field_description">
                      <li>payment terms for this invoice</li>
                    </ul>
                  </div>
                </div>
                <!--field_row-->
              </div>

              <div class="fields_content_right">

                <div class="field_row description">
                  <div class="label_field left single"><%= f.label :invoice_number, content_tag(:span, 'Invoice #') %></div>
                  <div class="small_field">
                    <%= f.text_field :invoice_number, :readonly => "", :required => "" %>
                    <ul class="field_description">
                      <li>auto generated</li>
                    </ul>
                  </div>
                </div>
                <!--field_row-->

                <div class="field_row description">
                  <div class="label_field left single"><%= f.label :invoice_date, content_tag(:span, 'Invoice Date') %></div>
                  <div class="small_field">
                    <%= f.text_field :invoice_date, :required => "" %>
                  </div>
                </div>
                <!--field_row-->

                <div class="field_row description">
                  <div class="label_field left single"><%= f.label :due_date, "Due Date" %></div>
                  <div class="small_field">
                    <%= f.text_field :due_date, :placeholder => "TBD" %>
                  </div>
                </div>
                <!--field_row-->

              </div>

            </div>
            <!--fields_content_data-->


            <div class="grid_table">
              <table cellpadding="0" cellspacing="0" class="invoice_grid_fields" id="invoice_grid_fields">
                <colgroup>
                  <col class="one"/>
                  <col class="two"/>
                  <col class="three"/>
                  <col class="four"/>
                  <col class="five"/>
                  <col class="six"/>
                  <col class="seven"/>
                  <col class="eight"/>
                </colgroup>
                <tr>
                  <th class="align_center">&nbsp;</th>
                  <th class="align_left">Item</th>
                  <th class="align_left">Description</th>
                  <th class="align_center">Unit Cost</th>
                  <th class="align_right">Qty</th>
                  <th class="align_center">Tax1</th>
                  <th class="align_center">Tax2</th>
                  <th class="align_center">Line Total</th>
                </tr>
                <%= f.fields_for :invoice_line_items, :wrapper => false %>
                <tr style="border:none;" class="no_hover">
                  <td class="add_line_item_row" colspan="2"><%= f.link_to_add "Add Line Item", :invoice_line_items, :class => "btn btn-mini" %></td>
                </tr>
              </table>

            </div>
            <!--grid_table-->

            <div class="grid_summary">
              <!--<div style="float:left;"> <%#= f.link_to_add "Add Line Item", :invoice_line_items, :class => "btn btn-mini" %> </div>-->
              <div class="grid_summary_content">
                <div class="grid_summary_row">
                  <div class="grid_summary_title">
                    Subtotal
                  </div>
                  <div class="grid_summary_description">
                    <%#= f.number_field :sub_total,:readonly => true %>
                    <%= f.hidden_field :sub_total %>
                    <%= label_tag '', '', :id => 'invoice_sub_total_lbl' %>
                  </div>
                </div>
                <div class="grid_summary_row">
                  <div class="grid_summary_title">
                    Discount
                  </div>
                  <div class="grid_summary_description">
                    <%= f.hidden_field :discount_amount %>
                    <%= label_tag '', '', :id => 'invoice_discount_amount_lbl' %>
                  </div>
                </div>
                <div class="grid_summary_row last">
                  <div class="grid_summary_title">
                    Tax
                  </div>
                  <div class="grid_summary_description">
                    <%= f.hidden_field :tax_amount %>
                    <%= label_tag '', '', :id => 'invoice_tax_amount_lbl' %>
                  </div>
                </div>
                <div class="grid_summary_row net_total">
                  <div class="grid_summary_title">
                    Tax
                  </div>
                  <div class="grid_summary_description">
                    <%= f.hidden_field :invoice_total %>
                    <%= label_tag '', '', :id => 'invoice_total_lbl', :class => 'net_total_value' %>
                  </div>
                </div>
              </div>
            </div>
            <!--grid_summary-->


            <div class="fields_content_data new_invoice_fields">

              <div class="field_row textarea">
                <div class="label_field textarea"><%= f.label :notes %></div>
                <div class="large_field">
                  <%= f.text_area :notes %>
                </div>
              </div>
              <!--field_row-->

            </div>
            <!--fields_content_data-->


          </div>
          <!--fields_content_container-->
        </div>
        <!--fields_content-->
      </div>
      <!--content_middle-->

      <div class="content_bottom">
        <% button_text = action_name == "new" ? "SEND" : "UPDATE" %>
        <%= f.submit "#{button_text} INVOICE", :class => 'btn_large submit' %>
        <%= f.submit 'SAVE AS DRAFT', :class => 'btn_large submit', :name => "save_as_draft" %>
        <%= link_to 'Cancel', invoices_path, :class => 'btn_large grey' %>
      </div>
      <!--content_bottom-->

    </div><!--_form-->
<% end %>
