<tr class="fields">
  <td>
    <%= f.link_to_remove "x" %>
    <%= image_tag "/assets/sort-arrow.gif", :class => "sort_icon" %>
  </td>
  <td>
    <div class="field item">
      <%=f.collection_select(:item_id, Item.all, :id, :item_name, {:prompt => "Select an item"}, {:class => "items_list medium"}) %>
    </div>
  </td>
  <td>
    <div class="field description">
      <%= f.text_field :item_description, :class => "description" %>
    </div>
  </td>
  <td>
    <div class="field unit_cost">
      <%= f.text_field :item_unit_cost, :class => 'cost' %>
    </div>
  </td>
  <td>
    <div class="field quantity">
      <%= f.text_field :item_quantity, :class => 'qty' %>
    </div>
  </td>
  <td>
    <div class="field tax1">
      <%= f.select(:tax_1, options_for_select(Tax.all.map{|tax| [tax.name, tax.id,{'data-tax_1'=>tax.percentage}]}, :selected => f.object.tax_1),{:prompt => ""},{:class => "tax1"}) %>
    </div>
  </td>
  <td>

    <div class="field tax2">
      <%#=f.collection_select(:tax_2, Tax.all, :id, :name, {:prompt => ""}, {:class => "tax2 medium"}) %>
      <%= f.select(:tax_2, options_for_select(Tax.all.map{|tax| [tax.name, tax.id,{'data-tax_2'=>tax.percentage}]}, :selected => f.object.tax_2),{:prompt => ""},{:class => "tax2"}) %>
    </div>
  </td>
  <td>
    <div class="field linetotal">
      <%= label_tag 'line total','0.00', :class => 'line_total' %>
    </div>
  </td>
</tr>