<%= form_tag "/payments/enter_payment" do %>
  <a id="close_popup">X</a>
  <div class="invoices_list">
    <table class="index">
      <thead>
        <tr>
          <th class="col-checkbox"><input type="checkbox" name="check" class="checkbox"></th>
          <th width="90" class="first-column no-sort">Invoice</th>
          <th width="130">Client Name</th>
          <th width="170">Description</th>
          <th width="85">Date</th>
          <th width="110" class="ta_right currency no-sort">Total</th>
          <th width="65" class="ta_center">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @invoices.each do |inv|%>
          <tr data-id="11440">
            <td class="col-checkbox"><%= check_box_tag "invoice_ids[]", inv.id %>
            <td class="invoice"><%= inv.invoice_number %></td>
            <td><span class="tt"><%= inv.client.organization_name %></span></td>
            <td><span class="tt">Description</span></td>
            <td><%= inv.invoice_date %></td>
            <td class="ta_right currency no-sort"><%= inv.sub_total %></td>
            <td class="ta_center">
              <span class="invoice-status invoice-sent">
                <%= inv.status %>
              </span>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
    <%= submit_tag "Enter Payment" %>
  </div>
<% end %>