<div class="content_top">
  <div class="primary_heading">
    <h1>Credit Card</h1>
  </div>
</div><!--content_top-->

<%= form_tag  '/invoices/pay_with_credit_card',id: 'cc_form', novalidate: "" do |f| %>

    <div class="content_middle">

      <div class="fields_content">
        <div class="fields_content_container">

          <div class="fields_content_data">

            <div class="field_row">
              <div class="label_field left single"><span>Type</span></div>
              <div class="large_field">
                <%= select_tag "cc_type",options_for_select(CREDIT_CARD_TYPE),{:class => "cc_type", :id => "cc_type"} %>
              </div>
            </div>
            <!--field_row-->

            <div class="field_row">
              <div class="label_field left single"><span>Contact Name</span></div>
              <div class="small_field">
                <%= text_field_tag :first_name, :required => "" %>
                <ul class="field_description">
                  <li>First name</li>
                </ul>
              </div>
              <div class="small_field right">
                <%= text_field_tag :last_name, :required => "" %>
                <ul class="field_description">
                  <li>Last name</li>
                </ul>
              </div>
            </div>
            <!--field_row-->

            <div class="field_row">
              <div class="label_field left single"><span>CC Number</span></div>
              <div class="medium_field">
                <%= text_field_tag :cc_number,'', :required => "" %>
              </div>
            </div>
            <!--field_row-->

            <div class="field_row">
              <div class="label_field left single"><span>Expiry Date</span></div>
              <div class="small_field">
                <%= text_field_tag :cc_month %>
                <ul class="field_description">
                  <li>Month</li>
                </ul>
              </div>
              <div class="small_field right">
                <%= text_field_tag :cc_year %>
                <ul class="field_description">
                  <li>Year</li>
                </ul>
              </div>
            </div>
            <!--field_row-->

            <div class="field_row">
              <div class="label_field left single"><span>Verification Code</span></div>
              <div class="medium_field">
                <%= text_field_tag :cc_verification,'', :required => "" %>
                <%= hidden_field_tag :invoice_id, OSB::Util.decrypt(params[:inv_id]) %>
              </div>
            </div>
            <!--field_row-->

          </div>
          <!--fields_content_data-->
        </div>
        <!--fields_content_container-->
      </div>
      <!--fields_content-->


    </div><!--content_middle-->

    <div class="content_bottom">
      <%= submit_tag "Enter Payment", :class => "btn_large submit" %>
    </div><!--content_bottom-->

<% end %>