<%- model_class = Invoice -%>
<%= link_to '+ NEW INVOICE',
            new_invoice_path,
            :class => 'new_btn btn_right btn_small' %>
<div class="page-header header_with_margins">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= form_tag "invoices/bulk_actions", :remote => true do -%>
<div class="action_links_wrapper">
  <div class="invoice_action_links">
    <p>
      <%= submit_tag "Archive", :name => "archive"  %>
      <%= submit_tag "Delete", :name => "destroy"  %>
      <span>|</span>
      <a href="#">Copy</a>
      <a href="#">Print</a>
      <a href="#">Send</a>
      <span>|</span>
      <a href="#">Enter Payment</a>
      <a href="#">Pay Online</a>
    </p>
  </div>
  <div class="invoice_search">
    <%= text_field_tag 'search_invoice', '', :placeholder => "Search" %>
  </div>
</div>
<table class="table table_listing invoice_listing">
  <thead>
  <tr>
    <th><%= check_box_tag 'select_all' %></th>
    <th>Invoice</th>
    <th width=120>Client</th>
    <th>Description</th>
    <th>Total</th>
    <th>Date</th>
    <th>Status</th>
    <th width=75><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody id="invoice_body">
  <%= render 'invoice' %>
  </tbody>
</table>
 <% end %>

