<%- model_class = Invoice -%>
<div class="invoice_preview">
  <div class="content_container">
    <div class="payment_content">
      <div class="payment_container">
        <div class="payment_corner sent_green"></div>
        <div class="payment_invoice_data">
          <div class="primary_address">
            <address>
              <p><%= @invoice.client.organization_name %></p>

              <p><%= @invoice.client.address_street1 %></p>

              <p><%= @invoice.client.city %></p>
            </address>
          </div>
          <div class="payment_summary">
            <div class="secondary_address">
              <address>
                <p class="bold"><%= @invoice.client.organization_name %></p>

                <p><%= @invoice.client.first_name.to_s + " " +@invoice.client.last_name.to_s %></p>

                <p><%= @invoice.client.city %>&nbsp;&nbsp;<%= @invoice.client.postal_zip_code %></p>

                <p><%= @invoice.client.address_street1.to_s+ " " +@invoice.client.address_street2.to_s %></p>
              </address>
            </div>
            <div class="payment_summary_table">
              <table cellpadding="0" cellspacing="0">
                <colgroup>
                  <col class="first"/>
                  <col class="second"/>
                </colgroup>
                <tr>
                  <td>Invoice #</td>
                  <td><%= @invoice.invoice_number %></td>
                </tr>
                <tr>
                  <td>Invoice Date</td>
                  <td><%= @invoice.invoice_date.strftime('%B %d , %Y') %></td>
                </tr>
                <tr>
                  <td>Amount</td>
                  <td><%= number_to_currency(@invoice.invoice_total - Payment.invoice_paid_amount(@invoice.id)) %></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="payment_invoice_table">
            <div class="time_entry">
              <table cellpadding="0" cellspacing="0">
                <colgroup>
                  <col class="first"/>
                  <col class="second"/>
                  <col class="third"/>
                  <col class="forth"/>
                  <col class="fifth"/>
                </colgroup>
                <tr>
                  <th class="align_left">Item</th>
                  <th class="align_left">Description</th>
                  <th class="align_right">Unit Cost</th>
                  <th class="align_right">Quantity</th>
                  <th class="align_right">Line Total</th>
                </tr>
                <% @invoice.invoice_line_items.each do |item|
                  item_line_total= (item.item_unit_cost ||0) * (item.item_quantity ||0)
                %>
                  <tr>
                    <td class="align_left"><%= item.item.item_name %></td>
                    <td class="align_left"><%= item.item_description %></td>
                    <td class="align_right"><%= number_to_currency(item.item_unit_cost) %></td>
                    <td class="align_right"><%= item.item_quantity %></td>
                    <td class="align_right"><%= number_to_currency(item_line_total) %></td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
          <div class="payment_total">
            <div class="payment_summary_table">
              <table cellpadding="0" cellspacing="0">
                <colgroup>
                  <col class="first"/>
                  <col class="second"/>
                </colgroup>
                <tr>
                  <th>Subtotal</th>
                  <th><%= number_to_currency(@invoice.sub_total) %></th>
                </tr>
                <tr>
                  <td>Discount - <%= @invoice.discount_percentage.to_s + "%" %></td>
                  <td><%= number_to_currency(@invoice.discount_amount) %></td>
                </tr>
                <tr>
                  <td class="bottom_padding">VAT - %</td>
                  <td><%= number_to_currency(@invoice.tax_amount) %></td>
                </tr>
                <tr class="single_border">
                  <th class="top_padding">Total</th>
                  <th><%= number_to_currency(@invoice.invoice_total) %></th>
                </tr>
                <tr>
                  <td class="bottom_padding">Amount Paid</td>
                  <td>-<%= number_to_currency(Payment.invoice_paid_amount(@invoice.id)) %></td>
                </tr>
                <tr class="double_border">
                  <th class="top_padding">Amount Due</th>
                  <th><%= number_to_currency(@invoice.invoice_total - Payment.invoice_paid_amount(@invoice.id)) %></th>
                </tr>
              </table>
            </div>
          </div>
          <div class="terms_notes">
            <div class="terms">
              <h3>Terms</h3>

              <p><%= @invoice.terms %></p>
            </div>
            <div class="notes">
              <h3>Notes</h3>
              <%= @invoice.notes %>
            </div>
          </div>
          <div class="payment_footer">
            <p>This invoice was sent
              using<%= image_tag "#{@images_path}/payment_logo.png", :size => "74x13", :alt => "" %></p>
          </div>
        </div>
        <!-- payment_invoice_data -->
      </div>
      <!-- payment_container -->
    </div>
    <!-- payment_content -->
  </div>
  <!--content_container-->
</div>
