<%- model_class = Invoice -%>
<div class="invoice_preview">
  <div class="content_header">
    <h1><%= t '.title', :default => model_class.model_name.human %>:<%= @invoice.invoice_number %></h1>
    <ul>
      <li><a  href="#dispute_invoice_popup" data-toggle="modal">Dispute</a></li>
      <li><%= link_to "PDF", {:controller => 'invoices', :action => 'invoice_pdf', :id => @invoice.id, :format => "pdf"}, :target => '_blank' %></li>
      <li><a href="#">Print</a></li>
      <li class="no_border"><%= link_to "Payments history", {:controller => 'payments', :action => 'payments_history', :id => @invoice.id}, :class => "no_padding" %></li>
    </ul>
  </div>
  <div class="payment_content" style="padding: 30px 0 0;">
    <div class="payment_container">
      <div class="payment_corner <%= @invoice.status %>"></div>
      <div class="payment_invoice_data">
        <div class="primary_address">
          <address>
            <p><%= @invoice.client.organization_name %></p>

            <p><%= @invoice.client.address_street1 %></p>

            <p><%= @invoice.client.city %></p>
          </address>
        </div>
        <div class="payment_summary">
          <div class="secondary_address">
            <address>
              <p class="bold"><%= @invoice.client.organization_name %></p>

              <p><%= @invoice.client.first_name.to_s + " " +@invoice.client.last_name.to_s %></p>

              <p><%= @invoice.client.city %>&nbsp;&nbsp;<%= @invoice.client.postal_zip_code %></p>

              <p><%= @invoice.client.address_street1.to_s+ " " +@invoice.client.address_street2.to_s %></p>
            </address>
          </div>
          <div class="payment_summary_table">
            <table cellpadding="0" cellspacing="0">
              <colgroup>
                <col class="first"/>
                <col class="second"/>
              </colgroup>
              <tr>
                <td>Invoice #</td>
                <td><%= @invoice.invoice_number %></td>
              </tr>
              <tr>
                <td>Invoice Date</td>
                <td><%= @invoice.invoice_date.strftime('%B %d , %Y') %></td>
              </tr>
              <tr>
                <td>Amount</td>
                <td><%= number_to_currency(@invoice.invoice_total - Payment.invoice_paid_amount(@invoice.id)) %></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="payment_invoice_table">
          <div class="time_entry">
            <table cellpadding="0" cellspacing="0">
              <colgroup>
                <col class="first"/>
                <col class="second"/>
                <col class="third"/>
                <col class="forth"/>
                <col class="fifth"/>
              </colgroup>
              <tr>
                <th class="align_left">Item</th>
                <th class="align_left">Description</th>
                <th class="align_right">Unit Cost</th>
                <th class="align_right">Quantity</th>
                <th class="align_right">Line Total</th>
              </tr>
              <% @invoice.invoice_line_items.each do |item|
                item_line_total= (item.item_unit_cost ||0) * (item.item_quantity ||0)
              %>
                <tr>
                  <td class="align_left"><%= item.item.item_name %></td>
                  <td class="align_left"><%= item.item_description %></td>
                  <td class="align_right"><%= number_to_currency(item.item_unit_cost) %></td>
                  <td class="align_right"><%= item.item_quantity %></td>
                  <td class="align_right"><%= number_to_currency(item_line_total) %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div class="payment_total">
          <div class="payment_summary_table">
            <table cellpadding="0" cellspacing="0">
              <colgroup>
                <col class="first"/>
                <col class="second"/>
              </colgroup>
              <tr>
                <th>Subtotal</th>
                <th><%= number_to_currency(@invoice.sub_total) %></th>
              </tr>
              <tr>
                <td>Discount <%= @invoice.discount_percentage %></td>
                <td><%= number_to_currency(@invoice.discount_amount) %></td>
              </tr>
              <tr>
                <td class="bottom_padding">Tax</td>
                <td><%= number_to_currency(@invoice.tax_amount) %></td>
              </tr>
              <tr class="single_border">
                <th class="top_padding">Total</th>
                <th><%= number_to_currency(@invoice.invoice_total) %></th>
              </tr>
              <tr>
                <td class="bottom_padding">Amount Paid</td>
                <td>-<%= number_to_currency(Payment.invoice_paid_amount(@invoice.id)) %></td>
              </tr>
              <tr class="double_border">
                <th class="top_padding">Amount Due</th>
                <th><%= number_to_currency(@invoice.invoice_total - Payment.invoice_paid_amount(@invoice.id)) %> </th>
              </tr>
            </table>
          </div>
        </div>
        <div class="terms_notes">
          <div class="terms">
            <h3>Terms</h3>

            <p><%= @invoice.terms %></p>
          </div>
          <div class="notes">
            <h3>Notes</h3>
            <%= @invoice.notes %>
          </div>
        </div>
        <div class="payment_footer">
          <p>This invoice was sent using<%= image_tag "payment_logo.png", :size => "74x13", :alt => "" %></p>
        </div>
      </div>
      <!-- payment_invoice_data -->
    </div>
    <!-- payment_container -->
  </div>
  <!-- payment_content -->
</div>
<%= form_tag "/invoices/dispute_invoice", :remote => true  do %>
    <div id="dispute_invoice_popup" class="modal hide fad"  style="width:auto;left:50%;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="model_grey_container">
        <div class="modal-header">

          <h1>Dispute invoice</h1>

          <p>&nbsp</p>

          <div class="cross_btn">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <%= image_tag "cross.png", :size => "7x7", :alt => "" %>
            </button>
          </div>
        </div>
        <div id="invoice_popup_error" class="alert alert-error popup" style="display:none;">
          <button class="close" type="button" style="margin:0px;">×</button>
          <table>
            <tbody>
            <tr>
              <td>
                <span></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-body">
          <%= hidden_field_tag "invoice_id", @invoice.id %>
          <div class="fields_content_data new_invoice_fields">
            <div class="field_row textarea">
              <div class="label_field textarea" ><label>Reason For Dispute</label></div>
              <div class="large_field" style="clear:both;">
                <%= text_area_tag "reason_for_dispute" %>
              </div>
            </div>
            <!--field_row-->

          </div>
        </div>
        <div class="footer ">
          <%= submit_tag "Send", :class => "btn_large submit" %>
          <a class="btn_large grey" href="#" data-dismiss="modal">cancel</a>
        </div>
      </div>
    </div>
<% end %>