<%- model_class = Invoice -%>
<div class="invoice_preview">
    <div class="content_header">
      <h1><%= t '.title', :default => model_class.model_name.human %>:<%= @invoice.invoice_number %></h1>
      <ul>
        <li><%= link_to "Edit", edit_invoice_path(@invoice) %></li>
        <!--<li><a href="#">Send</a></li>-->
        <li><%= link_to "Send", "send_invoice?id=#{@invoice.id}" %></li>
        <li><%= link_to "PDF", {:controller => 'invoices', :action => 'invoice_pdf', :id => @invoice.id, :format => "pdf"}, :target => '_blank' %></li>
        <li class="no_border"><a class="no_padding" href="#">Print</a></li>
      </ul>
    </div>
    <div class="enter_payment_btn">
      <!--<a href="#">enter payment on invoice</a>-->
      <%= link_to "enter payment on invoice", "enter_single_payment?ids=#{@invoice.id}" %>
    </div>
  <div class="payment_content">
    <div class="payment_container">
      <%= render :partial=>"show_invoice"%>
    </div>
    <!-- payment_container -->
  </div>

</div>