<table class="fields client_contacts_table">
<tr>
  <td class="form_title"><label class="form_title">Email </label><span>*</span></td>
  <td colspan="2" class="form_field">
    <%= f.text_field :email, :class => 'medium' %>
  </td>
  <td class="form_title title_small"><label class="form_title" >Home Phone</label></td>
  <td class="form_field">
    <%= f.text_field :home_phone, :class => 'small' %>
  </td>
</tr>
<tr>
  <td class="form_title">Contact Name</td>
  <td class="form_field">
    <%= f.text_field :first_name, :class => 'small' %>
    <div class="field_des">First Name</div>
  </td>
  <td class="form_field">
    <%= f.text_field :last_name, :class => 'small' %>
    <div class="field_des">Last Name</div>
  </td>
  <td class="form_title title_small">Mobile</td>
  <td class="form_field">
    <%= f.text_field :mobile_number, :class => 'small' %>
  </td>
</tr>
<tr>
  <td class="form_title">&nbsp;</td>
  <td colspan="2" class="form_field">
    <%= f.link_to_remove "Remove this contact",:class=>'remove' %>
  </td>
</tr>
</table>
