<%= form_for @client, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :organization_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :organization_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :send_invoice_by, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :send_invoice_by, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :country, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address_street1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_street1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address_street2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_street2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :province_state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :province_state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :postal_zip_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :postal_zip_code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :industry, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :industry, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :company_size, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :company_size, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :business_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :business_phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fax, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fax, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :internal_notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :internal_notes, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                clients_path, :class => 'btn' %>
  </div>
<% end %>
