<%= form_for(@company_profile) do |f| %>
  <% if @company_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_profile.errors.count, "error") %> prohibited this company_profile from being saved:</h2>

      <ul>
      <% @company_profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :org_name %><br />
    <%= f.text_field :org_name %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :street_address_1 %><br />
    <%= f.text_field :street_address_1 %>
  </div>
  <div class="field">
    <%= f.label :street_address_2 %><br />
    <%= f.text_field :street_address_2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :province_or_state %><br />
    <%= f.text_field :province_or_state %>
  </div>
  <div class="field">
    <%= f.label :postal_or_zip_code %><br />
    <%= f.text_field :postal_or_zip_code %>
  </div>
  <div class="field">
    <%= f.label :profession %><br />
    <%= f.text_field :profession %>
  </div>
  <div class="field">
    <%= f.label :phone_business %><br />
    <%= f.text_field :phone_business %>
  </div>
  <div class="field">
    <%= f.label :phone_mobile %><br />
    <%= f.text_field :phone_mobile %>
  </div>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :time_zone %><br />
    <%= f.text_field :time_zone %>
  </div>
  <div class="field">
    <%= f.label :auto_dst_adjustment %><br />
    <%= f.check_box :auto_dst_adjustment %>
  </div>
  <div class="field">
    <%= f.label :currency_code %><br />
    <%= f.text_field :currency_code %>
  </div>
  <div class="field">
    <%= f.label :currecy_symbol %><br />
    <%= f.text_field :currecy_symbol %>
  </div>
  <div class="field">
    <%= f.label :admin_first_name %><br />
    <%= f.text_field :admin_first_name %>
  </div>
  <div class="field">
    <%= f.label :admin_last_name %><br />
    <%= f.text_field :admin_last_name %>
  </div>
  <div class="field">
    <%= f.label :admin_email %><br />
    <%= f.text_field :admin_email %>
  </div>
  <div class="field">
    <%= f.label :admin_billing_rate_per_hour %><br />
    <%= f.text_field :admin_billing_rate_per_hour %>
  </div>
  <div class="field">
    <%= f.label :admin_user_name %><br />
    <%= f.text_field :admin_user_name %>
  </div>
  <div class="field">
    <%= f.label :admin_password %><br />
    <%= f.text_field :admin_password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
