<h1>Listing company_profiles</h1>

<table>
  <tr>
    <th>Org name</th>
    <th>Country</th>
    <th>Street address 1</th>
    <th>Street address 2</th>
    <th>City</th>
    <th>Province or state</th>
    <th>Postal or zip code</th>
    <th>Profession</th>
    <th>Phone business</th>
    <th>Phone mobile</th>
    <th>Fax</th>
    <th>Email</th>
    <th>Time zone</th>
    <th>Auto dst adjustment</th>
    <th>Currency code</th>
    <th>Currecy symbol</th>
    <th>Admin first name</th>
    <th>Admin last name</th>
    <th>Admin email</th>
    <th>Admin billing rate per hour</th>
    <th>Admin user name</th>
    <th>Admin password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @company_profiles.each do |company_profile| %>
  <tr>
    <td><%= company_profile.org_name %></td>
    <td><%= company_profile.country %></td>
    <td><%= company_profile.street_address_1 %></td>
    <td><%= company_profile.street_address_2 %></td>
    <td><%= company_profile.city %></td>
    <td><%= company_profile.province_or_state %></td>
    <td><%= company_profile.postal_or_zip_code %></td>
    <td><%= company_profile.profession %></td>
    <td><%= company_profile.phone_business %></td>
    <td><%= company_profile.phone_mobile %></td>
    <td><%= company_profile.fax %></td>
    <td><%= company_profile.email %></td>
    <td><%= company_profile.time_zone %></td>
    <td><%= company_profile.auto_dst_adjustment %></td>
    <td><%= company_profile.currency_code %></td>
    <td><%= company_profile.currecy_symbol %></td>
    <td><%= company_profile.admin_first_name %></td>
    <td><%= company_profile.admin_last_name %></td>
    <td><%= company_profile.admin_email %></td>
    <td><%= company_profile.admin_billing_rate_per_hour %></td>
    <td><%= company_profile.admin_user_name %></td>
    <td><%= company_profile.admin_password %></td>
    <td><%= link_to 'Show', company_profile %></td>
    <td><%= link_to 'Edit', edit_company_profile_path(company_profile) %></td>
    <td><%= link_to 'Destroy', company_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company profile', new_company_profile_path %>
