<p id="notice"><%= notice %></p>

<p>
  <b>Org name:</b>
  <%= @company_profile.org_name %>
</p>

<p>
  <b>Country:</b>
  <%= @company_profile.country %>
</p>

<p>
  <b>Street address 1:</b>
  <%= @company_profile.street_address_1 %>
</p>

<p>
  <b>Street address 2:</b>
  <%= @company_profile.street_address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @company_profile.city %>
</p>

<p>
  <b>Province or state:</b>
  <%= @company_profile.province_or_state %>
</p>

<p>
  <b>Postal or zip code:</b>
  <%= @company_profile.postal_or_zip_code %>
</p>

<p>
  <b>Profession:</b>
  <%= @company_profile.profession %>
</p>

<p>
  <b>Phone business:</b>
  <%= @company_profile.phone_business %>
</p>

<p>
  <b>Phone mobile:</b>
  <%= @company_profile.phone_mobile %>
</p>

<p>
  <b>Fax:</b>
  <%= @company_profile.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @company_profile.email %>
</p>

<p>
  <b>Time zone:</b>
  <%= @company_profile.time_zone %>
</p>

<p>
  <b>Auto dst adjustment:</b>
  <%= @company_profile.auto_dst_adjustment %>
</p>

<p>
  <b>Currency code:</b>
  <%= @company_profile.currency_code %>
</p>

<p>
  <b>Currecy symbol:</b>
  <%= @company_profile.currecy_symbol %>
</p>

<p>
  <b>Admin first name:</b>
  <%= @company_profile.admin_first_name %>
</p>

<p>
  <b>Admin last name:</b>
  <%= @company_profile.admin_last_name %>
</p>

<p>
  <b>Admin email:</b>
  <%= @company_profile.admin_email %>
</p>

<p>
  <b>Admin billing rate per hour:</b>
  <%= @company_profile.admin_billing_rate_per_hour %>
</p>

<p>
  <b>Admin user name:</b>
  <%= @company_profile.admin_user_name %>
</p>

<p>
  <b>Admin password:</b>
  <%= @company_profile.admin_password %>
</p>


<%= link_to 'Edit', edit_company_profile_path(@company_profile) %> |
<%= link_to 'Back', company_profiles_path %>
