<%= form_for(@company,:html=>{:novalidate => ""}) do |f| %>
  <div class="field">
    <%#= f.label "company_name" %>
    <label class="form_title label_field" for="company_org_name"><span>Company name</span></label>
    <%= f.text_field :org_name, :required => 'required' %>
  </div>
  <div class="field">
    <%#= f.label "first_name" %>
    <label class="form_title label_field" for="company_admin_first_name"><span>First name</span></label>
    <%= f.text_field :admin_first_name, :required => 'required' %>
  </div>
  <div class="field">
    <%#= f.label "last_name" %>
    <label class="form_title label_field" for="company_admin_last_name"><span>Last name</span></label>
    <%= f.text_field :admin_last_name, :required => 'required' %>
  </div>
  <div class="field">
    <%= f.label :country %>
    <%= f.select :country, COUNTRY_LIST, {:prompt => ""}, {"data-placeholder" => "Select a country...",:class => "chzn-select"}%>
  <%#= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label "street_address" %>
    <%= f.text_field :street_address_1 %>
  </div>
  <div class="field">
    <%= f.label " " %>
    <%= f.text_field :street_address_2 %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label "Province/State" %>
    <%= f.text_field :province_or_state %>
  </div>
  <div class="field">
    <%= f.label "Postal/Zip_Code" %>
    <%= f.text_field :postal_or_zip_code %>
  </div>
  <div class="field">
    <%= f.label "phone_number" %>
    <%= f.text_field :phone_business %>
  </div>
  <h1 style="margin-bottom:20px;">Location Settings </h1>
  <div class="field">
    <%= f.label :currency_code %>
    <%= f.select :currency_code, CURRENCY_CODE, {:prompt => ""}, {"data-placeholder" => "Select a currency code...",:class => "chzn-select"}%>
  </div>
  <div class="field">
    <%= f.label :time_zone %>
    <%= f.select :time_zone,ActiveSupport::TimeZone.all, {:prompt => ""}, {"data-placeholder" => "Select a time zone...",:class => "chzn-select"} %>
  <%#= f.text_field :time_zone %>
  </div>
  <div class="content_bottom" style="text-align: center;">
    <%= f.submit :class => "btn_large submit" %>
  </div>
<% end %>

