<ul>
  <li>
    <%= link_to "Active", "payments/filter_payments?status=active", :remote => true, :class => "get_actives active" %>
    <span class="item_counts" id="actives">(<%= Payment.unarchived.size %>)</span>
  </li>

  <li>
    <%= link_to "Archived", "payments/filter_payments?status=archived", :remote => true, :class => "get_archived" %>
    <span class="item_counts" id="archives">(<%= Payment.archived.size %>)</span>
  </li>

  <li>
    <%= link_to "Deleted", "payments/filter_payments?status=deleted", :remote => true, :class => "get_deleted" %>
    <span class="item_counts" id="deletes">(<%= Payment.only_deleted.size %>)</span>
  </li>
</ul>