<%
no_record_message = "You haven't entered any payment yet. Please click on New Payment button to enter new payment."
if params[:status] == "archived"
  no_record_message = "You haven't any archived payment yet."
elsif params[:status] == "deleted"
  no_record_message = "You haven't any deleted payment yet."
end
%>
<% if @payments.length > 0 %>
    <% @payments.each do |payment| %>
        <tr>
          <td class="align_center"> <%= check_box_tag "payment_ids[]", payment.id, false, :id => "payment_#{payment.id}" %></td>
          <td class="align_center"><%= link_to payment.invoice.invoice_number, invoice_path(payment.invoice), :class => "invoices_link" rescue "" %><%#= link_to payment.invoice_id, payment%></td>
          <td class="align_left"><%= payment.client_name %></td>
          <td class="align_center"><%= payment.payment_method || payment.payment_type%></td>
          <td class="align_center"><%= payment.notes %></td>
          <td class="align_center"><%= payment.payment_date %></td>
          <td class="align_right"><%= "#{current_user.currency_symbol}  #{number_with_precision(payment.payment_amount, :precision => 2)}" %></td>

          <td class="align_center">
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_payment_path(payment), :class => 'edit_action' %>
            <% unless params[:status] == "deleted" %>
                <%#= link_to t('.destroy', :default => "Delete"),
                            payment_path(payment),
                            :method => :delete,
                            :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                            :class => 'del_action' %>
            <% end %>
          </td>
        </tr>
    <% end %>
    <tr>
      <td colspan="9">
        <div class="paginator">
          <%= paginate @payments, :remote => true %>
          <div class="paging_info">
            <%= page_entries_info @payments %>
          </div>
        </div>
      </td>
    </tr>
<% else %>
    <tr>
      <td colspan="9">
        <div class="no_record_container">
          <%=  no_record_message %>
        </div>
      </td>
    </tr>
<% end %>
<tr>
  <td align="center" colspan="9">
    <%= link_to (content_tag(:span, "+") + 'NEW Payment'), '/invoices/unpaid_invoices', "data-toggle" => "modal", "data-target" => "#myModal", :class => "btn_large btn_plus_bottom", :remote => true %>
  </td>
</tr>