<div class="page-header">
<h1>Enter Payment</h1>
</div>
<% grand_total = 0 %>
<%= form_tag "update_individual_payment", :method => :put do %>
  <% @payments.each_with_index do |payment, index| %>
    <% grand_total = grand_total + payment.invoice.invoice_total %>
    <%=  fields_for "payments[]", payment do |f| %>
      <%= render "fields", :f => f,:payment=>payment,:index=>index%>
    <% end 
   end %>
  <% if @payments.size > 1 %>
    <div class="grand_total">Totals</div>
    <div class="grand_total2">Rs.<%=  grand_total %></div>
  <%  end %>
  <p id="submit_button"><%= submit_tag "Save", :id=>'submit_payment_form' %></p>
<% end %>

