<%- model_class = Payment -%>
<div id="invoices_container">default data</div>

<div class="top_plus_btn">
  <%= link_to (content_tag(:span, "+") + 'NEW Payments'), '/invoices/unpaid_invoices', "data-toggle" => "modal", "data-target" => "#myModal", :class => "btn_large btn_plus", :remote => true %>
</div>


<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize %>
    <span class="filter-tag">&nbsp;/&nbsp;Active</span>
  </h1>
</div>
<%= form_tag "payments/bulk_actions", :remote => true do -%>
    <div class="action_links_wrapper">
      <div class="invoice_action_links">
        <p>
          <%= submit_tag "Recover", :name => "recover_archived", :class => "top_links recover_archived", :style => "display:none;" %>
          <%= submit_tag "Recover", :name => "recover_deleted", :class => "top_links recover_deleted", :style => "display:none;" %>
          <%= submit_tag "Archive", :name => "archive", :class => "top_links archive" %>
          <%= submit_tag "Delete", :name => "destroy", :class => "top_links destroy" %>
          <span>|</span>
          <a href="#">Copy</a>
          <a href="#">Print</a>
          <!--<a href="#">Send</a>-->
          <!--<span>|</span>-->
          <!--<a href="#">Enter Payment</a>-->
          <!--<a href="#">Pay Online</a>-->
        </p>
      </div>
      <div class="invoice_search">
        <%#= text_field_tag 'search_invoice', '', :placeholder => "Search" %>
        <div class="active_links" id="active_links">
          <%= render 'filter_links' %>
        </div>
      </div>
    </div>
<table class="table table_listing payment_listing">
  <thead>
  <th class="align_center"><%= check_box_tag 'select_all' %></th>
  <th class="align_center">Invoice</th>
  <th class="align_left">Client</th>
  <th class="align_center">Payment method</th>
  <th class="align_center">Type</th>
  <th class="align_center">Notes</th>
  <th class="align_center">Date</th>
  <th class="align_right">Amount</th>
  <th class="align_center" width=75>Actions</th>
</thead>

<tbody id="payment_body">
  <%= render 'payment' %>
</tbody>
</table>
<%end%>
<!-- START: Unpaid invoices popup -->
<%= form_tag "/payments/enter_payment",:id=>"invoice_selection" do %>
  <div id="myModal" class="modal hide fad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="model_grey_container">
      <div class="modal-header">
        <div id="invoice_popup_error" class="alert alert-error" style="width:635px;display:none;">
          <button  class="close" type="button" style="margin:0px;">×</button>
          <span>No Invoice has been selected.</span>
        </div>
        <h1>Which Invoices have you received payment for?</h1>
        <p>Select one or more Invoices from the list below to apply payment.</p>
        <div class="cross_btn">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <%= image_tag "cross.png", :size => "7x7", :alt => "" %>
          </button>
        </div>
      </div>
      <div class="modal-body">
      </div>
      <div class="footer ">
        <%= submit_tag "Enter Payment", :class => "btn_large" %>
        <a class="btn_large dark_grey" href="#" data-dismiss="modal">cancel</a>
      </div>
    </div>
  </div>
<% end %>
<!-- END: Unpaid invoices popup -->

