<%- model_class = Payment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<table class="table table-striped" style="margin-top:20px;">
  <thead>
  <th>Invoice</th>
  <th>Client</th>
  <th>Payment method</th>
  <th>Type</th>
  <th>Notes</th>
  <th>Date</th>
  <th>Amount</th>
  <th>Actions</th>
</thead>

<% @payments.each do |payment| %>
  <tr>
    <td><%= link_to payment.invoice_id, payment%></td>
    <td><%= payment.client_name %></td>
    <td><%= payment.payment_method %></td>
    <td><%= payment.payment_type %></td>
    <td><%= payment.notes %></td>
    <td><%= payment.payment_amount %></td>
    <td><%= payment.payment_date.to_time.strftime("%m/%d/%Y") %></td>
    <td>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_payment_path(payment), :class => 'btn btn-mini' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        payment_path(invoice),
        :method => :delete,
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payment', new_payment_path, :class => "btn btn-primary" %>
