<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field first_row form_title">
    <label class="form_title" for="item_item_name"><div>Item Name</div><span>*</span></label>
    <%= f.text_field :item_name %>
  </div>
  <div class="field">
    <label class="form_title" for="item_item_description">Description</label>
    <%#= f.label :item_description, :class => "form_title" %>
    <%= f.text_area :item_description %>
  </div>
  <div class="field">
    <%= f.label :unit_cost, :class => "form_title" %>
    <%= f.text_field :unit_cost, :class => "form_title small" %>


    <%= f.label :quantity, :class => "form_title small" %>
    <%= f.number_field :quantity, :class => "small" %>
  </div>
  <div class="field">
    <label class="form_title">Taxes</label>
    <%= f.collection_select(:tax_1,Tax.all,:id,:name,{:prompt => ""},{"data-placeholder" => "Select an industry...",:class => "tax1 small chzn-select"}) %>

    <!--<%#= f.label :tax_2, :class => "form_title" %>-->
    <%= f.collection_select(:tax_2,Tax.all,:id,:name,{:prompt => ""},{"data-placeholder" => "Select an industry...",:class => "tax2 small chzn-select"}) %>
  </div>
  <!--<div class="field">-->
    <%#= f.label :track_inventory %>
    <%#= f.check_box :track_inventory %>
  <!--</div>-->
  <!--<div class="field">-->
    <!--<%#= f.label :inventory, :class => "form_title" %>-->
    <!--<%#= f.number_field :inventory %>-->
  <!--</div>-->
  <div class="actions">
    <%= f.submit(:class => "btn_large")   %>
  </div>
<% end %>
