<div class="page-header">
  <h1>Listing items</h1>
</div>
<%= form_tag "items/bulk_actions", :remote => true do -%>
    <div class="action_links_wrapper">
      <div class="invoice_action_links">
        <p>
          <%= submit_tag "Recover", :name => "recover_archived", :class => "top_links recover_archived", :style => "display:none;" %>
          <%= submit_tag "Recover", :name => "recover_deleted", :class => "top_links recover_deleted", :style => "display:none;" %>
          <%= submit_tag "Archive", :name => "archive", :class => "top_links archive" %>
          <%= submit_tag "Delete", :name => "destroy", :class => "top_links destroy" %>
          <span>|</span>
          <a href="#">Copy</a>
          <a href="#">Print</a>
          <!--<a href="#">Send</a>-->
          <!--<span>|</span>-->
          <!--<a href="#">Enter Payment</a>-->
          <!--<a href="#">Pay Online</a>-->
        </p>
      </div>
      <div class="invoice_search">
        <%#= text_field_tag 'search_invoice', '', :placeholder => "Search" %>
        <div class="active_links" id="active_links">
          <%= render 'items/filter_links' %>
        </div>
      </div>
    </div>
<table class="table table_listing item_listing">
  <thead>
    <th class="align_center"><%= check_box_tag 'select_all' %></th>
    <th class="align_center">Item name</th>
    <th class="align_left">Item description</th>
    <th class="align_right">Unit cost ($)</th>
    <th class="align_right">Quantity</th>
    <th class="align_center">Tax 1</th>
    <th class="align_center">Tax 2</th>
    <!--<th>Track inventory</th>-->
    <!--<th>Inventory</th>-->
    <th class="align_center">Actions</th>
  </thead>

  <tbody id="item_body">
  <%= render 'items' %>
  </tbody>
</table>
<% end %>



