<h1>Listing items</h1>

<table>
  <tr>
    <th>Item name</th>
    <th>Item description</th>
    <th>Unit cost</th>
    <th>Quantity</th>
    <th>Tax 1</th>
    <th>Tax 2</th>
    <th>Track inventory</th>
    <th>Inventory</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.item_name %></td>
    <td><%= item.item_description %></td>
    <td><%= item.unit_cost %></td>
    <td><%= item.quantity %></td>
    <td><%= item.tax_1 %></td>
    <td><%= item.tax_2 %></td>
    <td><%= item.track_inventory %></td>
    <td><%= item.inventory %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
