<%= form_for(@taxis) do |f| %>
  <% if @taxis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taxis.errors.count, "error") %> prohibited this taxis from being saved:</h2>

      <ul>
      <% @taxis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :name, :class => "form_title" %>
    <label for="tax_name" class="form_title"><span class="required_small">Name</span><span>*</span></label>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%#= f.label :percentage, :class => "form_title" %>
    <label for="tax_percentage" class="form_title"><span class="required_small">Percentage</span><span>*</span></label>
    <%= f.text_field :percentage %>
  </div>
  <div class="actions">
    <%= f.submit(:class => "btn_large")   %>
  </div>
<% end %>
