<div style="float: left; width: 100%;">
<div class="top_plus_btn">
  <%= link_to (content_tag(:span, "+") + 'NEW Tax'),
              new_taxis_path, :class => 'btn_large btn_plus' %>
</div>
<div class="page-header"><h1>Taxes
  <span class="filter-tag">&nbsp;/&nbsp;Active</span></h1></div>
<%= form_tag "taxes/bulk_actions", :remote => true do -%>
    <div class="action_links_wrapper">
      <div class="invoice_action_links">
        <p>
          <%= submit_tag "Recover", :name => "recover_archived", :class => "top_links recover_archived", :style => "display:none;" %>
          <%= submit_tag "Recover", :name => "recover_deleted", :class => "top_links recover_deleted", :style => "display:none;" %>
          <%= submit_tag "Archive", :name => "archive", :class => "top_links archive" %>
          <%= submit_tag "Delete", :name => "destroy", :class => "top_links destroy" %>
          <span>|</span>
          <a href="#">Copy</a>
          <a href="#">Print</a>
        </p>
      </div>
      <div class="invoice_search">
        <%#= text_field_tag 'search_invoice', '', :placeholder => "Search" %>
        <div class="active_links" id="active_links">
          <%= render 'filter_links' %>
        </div>
      </div>
    </div>
    <table class="table table_listing">
      <thead>
      <th class="align_center not-sortable"><%= check_box_tag 'select_all' %></th>
      <th class="align_center">Name</th>
      <th class="align_center">Percentage</th>
      <th class="align_center not-sortable" width=75>Actions</th>
      </thead>

      <tbody id="tax_body">
      <%= render 'taxes' %>
      </tbody>
    </table>
    <div class="btn_wrapper">
      <%= link_to (content_tag(:span, "+") + 'NEW Tax'),
                  new_taxis_path, :class => 'btn_large btn_plus_bottom' %>
    </div>
      </div>
<% end %>


