<h1>Listing client_additional_contacts</h1>

<table>
  <tr>
    <th>Client</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone 1</th>
    <th>Phone 2</th>
    <th>User name</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @client_additional_contacts.each do |client_additional_contact| %>
  <tr>
    <td><%= client_additional_contact.client_id %></td>
    <td><%= client_additional_contact.first_name %></td>
    <td><%= client_additional_contact.last_name %></td>
    <td><%= client_additional_contact.email %></td>
    <td><%= client_additional_contact.phone_1 %></td>
    <td><%= client_additional_contact.phone_2 %></td>
    <td><%= client_additional_contact.user_name %></td>
    <td><%= client_additional_contact.password %></td>
    <td><%= link_to 'Show', client_additional_contact %></td>
    <td><%= link_to 'Edit', edit_client_additional_contact_path(client_additional_contact) %></td>
    <td><%= link_to 'Destroy', client_additional_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client additional contact', new_client_additional_contact_path %>
