<!DOCTYPE html>
<html>
  <head>
    <title>Open Source Billing</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Open Source Billing</a>
          <div class="nav-collapse">
            <ul class="nav">
              <%= active_link_to "Invoices", "/invoices", :wrap_tag => :li %>
              <%= active_link_to "Clients", "/clients", :wrap_tag => :li %>
              <%= active_link_to "Reports", "/reports", :wrap_tag => :li %>
              <%= active_link_to "Help", "/help", :wrap_tag => :li %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
