<!DOCTYPE html>
<html>
  <head>
    <title>Open Source Billing</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- MAIN CONTAINER START-->
    <div class="mainContainer">
      <!-- HEADER START -->
      <div class="header">
        <div class="logo">
          <%= image_tag "logo.png", :size => "185x30" %>
        </div>
      </div>
      <!-- HEADER END -->
      <!-- NAVIGATION START -->
      <div class="naviagion">
        <div id="nav"></div>
      </div>
      <!-- NAVIGATION END -->
      <!-- CONTENT AREA START-->
      <div class="content">
        <!-- <div class="notice"><%#= notice %></div> -->
        <%= yield %>
      </div>
      <!-- CONTENT AREA END-->

    </div>
    <!-- MAIN CONTAINER END -->
  </body>
</html>
